.button {
  width: 23rem;
  height: 7rem;
  flex-shrink: 0;

  background: #2d3136;
  color: #f0f8ff;

  border: inset #848484 0.2rem;

  font-size: 3.125rem;
  font-weight: 700;

  transition: 0.4s;
}

.button:hover {
  background: #23262a;
  transition: 0.4s;
}
