.mainCreateAccountPage {
  display: flex;
  height: 100vh;
}
.leftCreateAccountScreen,
.rightCreateAccountScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.rightCreateAccountScreen {
  height: 135vh;
}
.leftCreateAccountScreen > img {
  position: fixed;
  width: 35%;
  margin-top: 2%;
}

.rightCreateAccountScreenContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;

  background: #272727;
}

.rightCreateAccountScreenContainer > h1 {
  color: #f0f8ff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 15%;
}

@media (max-width: 425px) {
  .mainCreateAccountPage {
    flex-direction: column;
  }
  .leftCreateAccountScreen,
  .rightCreateAccountScreen {
    width: 90vw;
  }
  .leftCreateAccountScreen > img {
    position: relative;
    margin-top: 15%;
  }
  .rightCreateAccountScreenContainer {
    background: none;
  }
  .form {
    margin: 3%;
  }
}
