.mainEditAccountPage {
    display: flex;
    justify-content: center;
    height: 110vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 63rem;
    height: 100%;
    background: #202020;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 425px) {
    .mainEditAccountPage {
        width: 90vw;
    }
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        text-align: center;
    }
    .form {
        width: 90vw;
    }
    .formContainer {
        margin: 15%;
        width: 90vw;
        height: 100%;
        background: none;
    }
}