.mainLoggedNavBar {
  position: fixed;
  top: 0;

  justify-content: space-around;
  align-items: center;
  width: 100vw;

  height: 7rem;

  display: flex;
  background: #141414;
  z-index: 9999;
}
.mainLoggedNavBar > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f8ff;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  width: 30%;

  text-decoration: none;
}

.mainLoggedNavBar > a img {
  width: 75%;
}
