.mainNavBar {
  position: fixed;
  top: 0;

  justify-content: space-around;
  align-items: center;
  width: 100vw;

  height: 7rem;

  display: flex;
  background: #141414;

  z-index: 9999;
}
.leftNavBar,
.rightNavBar {
  display: flex;

  width: 50%;
}

.leftNavBar {
  padding: 0 5%;
  font-size: 3rem;
  font-weight: 600;
}
.leftNavBar > a {
  display: flex;
  align-items: center;
}
.leftNavBar > a img {
  width: 25%;
}
.rightNavBar {
  justify-content: flex-end;
  padding: 0 5%;
}