.mainViewAccountPage {
  display: flex;
  height: 100vh;
}

.leftViewAccountPage,
.rightViewAccountPage {
  display: flex;
  width: 50%;
}

.leftViewAccountPage {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}

.accInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 95%;
  padding: 2%;
  background: #272727;
  font-size: 2rem;
}

.rightViewAccountPage {
  align-items: center;
  justify-content: center;
}
.accMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menuTitle {
  margin-top: 20%;
  text-align: center;
}
.menuButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

@media (max-width: 425px) {
  .mainViewAccountPage {
    flex-direction: column;
  }
  .leftViewAccountPage,
  .rightViewAccountPage {
    width: 90vw;
  }
  .leftViewAccountPage {
    margin-top: 20%;
    background-color: #272727;
  }
  .menuTitle {
    margin-top: 10%;
  }
}
